root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
trim_leading_newlines = true

# Markdown files keep trailing spaces for line breaks
[*.md]
trim_trailing_whitespace = false

# Test fixtures should not be formatted
[test/fixtures/**]
insert_final_newline = unset
trim_trailing_whitespace = unset
trim_leading_newlines = unset

# Vendor code should not be formatted
[vendor/**]
insert_final_newline = unset
trim_trailing_whitespace = unset
trim_leading_newlines = unset
